[
  {coordinator, [
    {tcp_port, 9000},
    {heartbeat_timeout, 15000},
    {scheduler_host, "127.0.0.1"},
    {scheduler_port, 8001}
  ]},
  
  {kernel, [
    {logger_level, info},
    {logger, [
      {handler, default, logger_std_h,
        #{formatter => {logger_formatter, #{
          single_line => true,
          time_designator => $T
        }}}
      }
    ]}
  ]},
  
  {sasl, [
    {sasl_error_logger, false}
  ]}
].
