{erl_opts, [debug_info, warn_unused_vars, warn_unused_import]}.

{deps, [
    {jsx, "3.1.0"},
    {uuid, "2.0.6", {pkg, uuid_erl}}
]}.

{relx, [
    {release, {coordinator, "0.1.0"},
        [coordinator, sasl]},
    
    {mode, dev},
    
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}
]}.

{profiles, [
    {prod, [
        {relx, [{mode, prod}]}
    ]}
]}.

{shell, [
    {apps, [coordinator]}
]}.
